@keyframes pushIn {
	0% {
		box-shadow: 0;
	}
	100% {
		box-shadow: 2px 2px 6px var(--color-shadow) inset, -2px -2px 6px var(--color-highlight) inset;
	}
}
@keyframes pushOut {
	0% {
		box-shadow: 0;
	}
	25% {
		box-shadow: 0;
	}
	100% {
		box-shadow: 1.5px 1.5px 5px var(--color-shadow), -2px -2px 6px var(--color-highlight);
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 40%;
	}
	100% {
		opacity: 100%;
	}
}
@keyframes dsclideIn {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}
@keyframes minidsclideIn {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}
@keyframes hideWatchlist {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}
@keyframes lightsOn {
	0% {
	}
	100% {
		box-shadow: 0 0 10px 1px, 0 0 5px 1px inset;
		border-radius: 10px 10px 0 0;
		border-left: 3px solid var(--color-glow);
		border-top: 3px solid var(--color-glow);
		border-right: 3px solid var(--color-glow);
	}
}
@keyframes pushButton {
	0% {
	}
}

.hidden {
	animation: 2s ease-out 0s 1 hideWatchlist forwards !important;
}

.watchlist__select--buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-left: 16px;
}
.watchlist__edit,
.watchlist__hide {
	color: var(--color-text);
	background: none;
	border: none;
}

.watchlist__edit:hover,
.watchlist__hide:hover {
	cursor: pointer;
}

.watchlist {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 500px;
	max-width: 500px;
	padding: 16px;
	height: 100%;
	border-radius: 0 10px 10px 0;
	animation: 2s ease-out 0s 1 pushIn forwards, 1s ease-out 0s 1 dsclideIn forwards;
}
.watchlist__chart-container {
	width: 100%;
	height: 100%;
	padding: 5px;
	padding-right: 16px;
	overflow-y: scroll;
}
.watchlist__chart-container::-webkit-scrollbar {
	padding: 5px;
	background: var(--color-highlight);
	box-shadow: 0 0 10px 1px #c4d62444;
	border-radius: 5px;
}
.watchlist__chart-container::-webkit-scrollbar-thumb {
	background: var(--color-text);
	border-radius: 5px;
}
.watchlist__chart-container::-webkit-scrollbar-thumb:hover {
	background: var(--color-glow);
	border-radius: 5px;
}
.watchlist__chart-container::-webkit-scrollbar-thumb:active {
	background: var(--color-text);
	border-radius: 5px;
	box-shadow: 0 0 10px 1px #c4d62444;
}
.watchlist__chart-container > div {
	height: fit-content;
}
.watchlist-mini {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 50px;
	min-height: 250px;
	color: var(--color-text);
	animation: 2s ease-out 0s 1 pushIn forwards, 1s ease-out 0s 1 minidsclideIn forwards;
}
.watchlist__unhide {
	display: flex;
	flex-direction: column;
	z-index: 1;
	transform: translateY(-50%);
}
.watchlist__unhide i {
	font-size: 24px;
}
.watchlist__unhide h2 {
	margin-top: 16px;
	transform: rotate(90deg);
}

.watchlist__select {
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.watchlist__select--title {
	width: 50%;
	padding: 8px;
	height: 50px;
	background: none;
	border: none;

	font-size: 16px;
	font-weight: bold;
}
.watchlist__select--title:focus {
	animation: 0.2s ease-out 0s 1 lightsOn forwards;
}
.watchlist__select--title option {
	color: #000;
}

.watchlist__header {
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	animation: 2s ease-out 0s 1 fadeIn forwards;
}
.watchlist__price {
	display: flex;
	align-items: center;
}
.watchlist__change {
	display: flex;
	margin-left: 8px;
}
.watchlist__change :not(:first-child) {
	margin-left: 8px;
}
.watchlist__select--title,
.watchlist__symbol {
	color: var(--color-text);
}
.green {
	color: var(--color-price-green);
	text-shadow: 0 0 10px var(--color-price-green-glow);
}
.watchlist__chart:hover .green {
	color: var(--color-price-green-hover);
	text-shadow: 0 0 10px var(--color-price-green-glow-hover);
}
.red {
	color: var(--color-price-red);
	text-shadow: 0 0 10px var(--color-price-red-glow);
}

.watchlist__buttons {
	width: 30%;
	display: flex;
	align-items: center;
	height: 25px;
}
.watchlist__buttons button {
	border: none;
	width: 50%;
	height: 100%;
	border-radius: 5px;
}
.watchlist__buttons button:hover {
	cursor: pointer;
}
.watchlist__buttons--buy {
	margin-right: 5%;
	background-color: var(--color-price-green);
	box-shadow: 0 0 7px 1.5px #00ff00aa;
}
.watchlist__buttons--buy:hover {
	box-shadow: 0 0 7px 1.5px #51ff51ee;
}
.watchlist__buttons--sell {
	margin-left: 5%;
	background-color: var(--color-price-red);
	box-shadow: 0 0 7px 1.5px #ff0000aa;
}
.watchlist__buttons--sell:hover {
	box-shadow: 0 0 7px 1.5px #ff5151ee;
}
.watchlist__chart:hover .red {
	color: var(--color-price-red-hover);
	text-shadow: 0 0 10px var(--color-price-red-glow-hover);
}
.watchlist__chart {
	width: 100%;
	margin-top: 16px;
	padding: 8px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: 2s ease-out 0s 1 pushOut forwards;
	transition: box-shadow 2s;
}
.watchlist__chart:hover {
	cursor: pointer;
	box-shadow: 2px 2px 6px var(--color-shadow) inset, -2px -2px 6px var(--color-highlight) inset !important;
}
.watchlist__chart:hover .watchlist__symbol {
	color: var(--color-text-hover);
	text-shadow: 0 0 10px var(--color-glow-hover);
}
