* {
	--color-primary: #3c3c3c;
	--color-shadow: #00000055;
	--color-highlight: #ffffff33;
	--color-text: #fffc9a;
	--color-text-hover: #f9f7c8;
	--color-glow: #c4d62499;
	--color-glow-hover: #c4d624;

	--color-price-green: #00ff00;
	--color-price-green-glow: #00ff00;
	--color-price-green-hover: #83ff83;
	--color-price-green-glow-hover: #5eff5e;
	--color-price-red: #ff0000;
	--color-price-red-glow: #ff0000;
	--color-price-red-hover: #ff8e8e;
	--color-price-red-glow-hover: #ff6969;

	--navbar-height: 50px;

	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
}
html,
body,
#root {
	height: 100%;
	background-color: var(--color-primary);
	overflow: hidden;
}

.page__layout {
	padding-top: var(--navbar-height);
	height: 100%;
	display: flex;
}
.page__login {
	height: 100%;
	display: flex;
}
.page__detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}
.page__detail * {
	margin-top: 16px;
}
.page__content {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 8px;
	/* background-color: #f0ff0f33; */
}
