@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* TODO Add site wide styles */
* {
	--color-primary: #4f4f4f;
	--color-shadow: #00000055;
	--color-highlight: #ffffff33;
	--color-text: #fffc9a;
	--color-text-hover: #f9f7c8;
	--color-glow: #c4d62499;
	--color-glow-hover: #c4d624;

	--color-price-green: #00ff00;
	--color-price-green-glow: #00ff00;
	--color-price-green-hover: #83ff83;
	--color-price-green-glow-hover: #5eff5e;
	--color-price-red: #ff0000;
	--color-price-red-glow: #ff0000;
	--color-price-red-hover: #ff8e8e;
	--color-price-red-glow-hover: #ff6969;

	--navbar-height: 50px;

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'DotGothic16', sans-serif; */
	/* font-family: 'Kaushan Script', cursive; */
	/* font-family: 'Orbitron', sans-serif; */
	/* font-family: 'Audiowide', cursive; */
	/* font-family: 'Press Start 2P', cursive; */
	/* font-family: 'Sarpanch', sans-serif; */
	/* font-family: 'Codystar', cursive; */
	/* font-family: 'Megrim', cursive; */

	font-family: 'Shrikhand', cursive;

	font-size: 14px;
}
html,
body,
#root {
	height: 100%;
	background-color: var(--color-primary);
	overflow: hidden;
}
.page__layout {
	padding-top: var(--navbar-height);
	height: 100%;
	display: flex;
}
.page__login {
	height: 100%;
	display: flex;
}
.page__content {
	display: flex;
	width: 100%;
	padding: 8px;
	/* background-color: #f0ff0f33; */
}
