.login-form__picture {
	position: absolute;

	height: 100%;
	width: 100%;

	background: rgb(10, 10, 10);
}

.login-form__container {
	display: flex;
	align-items: center;
	z-index: 1;

	height: 100%;
	width: 50%;
	margin-left: auto;

	background: rgba(56, 56, 56, 0.645);
}
.login-form__container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 5;

	height: 30%;
	margin-left: 52px;
	padding: 0 32px;

	border-radius: 5px;
	background-color: #3c3c3ccc;
	animation: boxglow 3s ease-in-out 0s infinite;
}
