.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-primary);
	height: var(--navbar-height);
	box-shadow: 0 1px 5px 2px #00000055;
}
.navbar * {
	color: var(--color-text);
	text-decoration: none;
	text-emphasis: none;
}
.navbar__link--home {
	font-size: 24px;
}
.navbar__icon--main {
	margin-right: 8px;
}
.navbar__search {
	display: flex;
	border-radius: 8px;
	width: 30%;
	padding: 8px;
	background-color: var(--color-highlight);
}
.navbar__search input {
	width: 100%;
	outline: none;
	background: none;
	border: none;
}
.navbar__search input::placeholder {
	color: var(--color-glow);
}
.navbar__search i {
	margin-left: 8px;
}
.navbar__session * {
	border: none;
}
.navbar__session button {
	padding: 4px;

	border: 1px solid var(--color-text);
	border-radius: 8px;
	background-color: transparent;
}
.navbar__session button:hover {
	cursor: pointer;
}
.profile-dropdown {
	position: absolute;
	top: 100%;
	right: 0;

	padding: 8px;

	list-style-type: none;
	background-color: #00000055;
	border-radius: 0 0 0 8px;
}
.profile-dropdown button {
	padding: 4px;

	margin-top: 4px;
	border: 1px solid var(--color-text);
	border-radius: 8px;
	background-color: transparent;
}
